# Adresse de Home Assistant, sans barre oblique finale
HOME_ASSISTANT_URL=http://IP_OU_HOST:8123

# Jeton d'accès longue durée créé dans le profil Home Assistant
HOME_ASSISTANT_TOKEN=JETON_LONGUE_DUREE

# Entités du capteur BME280
HA_ENTITY_TEMPERATURE=sensor.xxx
HA_ENTITY_HUMIDITY=sensor.xxx
HA_ENTITY_PRESSURE=sensor.xxx

# Entité de la météo principale
HA_ENTITY_WEATHER=weather.forecast_maison
